    a:hover {
        text-decoration: none;
    }
    #cpngText1{
        font-weight: bold;
        font-size: 1.2em;
				color: #F15241;		
    }
		#cpngText2 {
				font-weight: bold;
        font-size: 1.5em;
        color: white;
    }
		#cpngText2:hover {
    		color: yellow;
		}
    #cpngText3 {
        font-size: 0.8em;
        color: gray;
				padding: 5px 0;
    }
		.cpng_cant_scroll {
				height: -2000px;
				overflow: hidden;
  	}
		@media screen and (min-width: 900px) {
    	#cpngText2 {
      	width: 1000px !important;
    	}
  	}
